/* responsiveness for mobile */
@media screen and (max-width:600px) {
    header, .home, .menu>ul {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
        width: 100%;
        margin: 0;
    }
    .home {
        flex-direction: column-reverse;
    }
    .logo {
        padding: 30px 0;
    }
    .home-content h1 {
        font-size: 3rem; 
        padding: 5px 0;
    }
    .title {
        font-size: 1.75rem;
    }
    .description {
        font-size: .75rem;
    }
    .btn {
        padding: 7px 15px;
        border-radius: 4rem;
        color: #FFF;
        font-size: 1rem;
    }
    .home-btn {
        gap: 10px;
        padding-top: 10px;
    }
    .home-content {
        padding: 5% 8%;
        width: 80%; 
        height: 100%;
        background-size: cover; 
    }
    .home-img img {
        width: 100%;
        margin: 5% 5%;
    }
    .og-vdo {        
        justify-content: center;
        padding-top: 30px;
    }
    .online-games>h2 {
        font-size: 1.50rem;
    }
    .online-games {
        gap: 15px;
    }
    .og-img-div:active .og-img {
        opacity: 0.3;
    }
      
    .og-img-div:active .hover-items {
        opacity: 1;
    }
}

/* responsiveness for tab  */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header, .home, .menu>ul {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
        width: 100%;
        margin: 0;
    }
    .home {
        flex-direction: column-reverse;
    }
    .logo {
        padding: 30px 0;
    }
    .home-content h1 {
        font-size: 5rem; 
        padding: 5px 0;
    }
    .title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1rem;
    }
    .btn {
        padding: 7px 15px;
        border-radius: 4rem;
        color: #FFF;
        font-size: 1rem;
    }
    .home-btn {
        gap: 20px;
        padding-top: 20px;
    }
    .home-content {
        padding: 10% 8%;
        width: 80%; 
        height: 100%;
        background-size: cover; 
    }
    .home-img img {
        width: 100%;
        height: 100vh;
        margin: 5% 5%;
    }
    .online-games {
        gap: 10px;
    }
    .og-vdo {        
        justify-content: space-between;
        padding-top: 30px;
    }
    .og-img-container img {
        max-width: 280px;
    }
    .og-img-container figcaption {
        max-width: 280px;
        padding-top: 20px;
    }
    .og-img-div:active .og-img {
        opacity: 0.3;
    }   
    .og-img-div:active .hover-items {
        opacity: 1;
    }
}