/* shared style */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.btn {
    padding: 15px 30px;
    border-radius: 4rem;
    background: #ff42a5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* style nav-bar */
header {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
.logo, .menu>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.menu a, li {
    text-decoration: none;
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
.ml-icon {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;  
}
.ml-icon > span {
    padding-left: 20px;
}
.fa-youtube {
    color: #F61C0D;
}
/* home section style */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content {
    padding-left: 10%;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-content h1 {
    font-size: 8rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 0;
}
.g-r-btn {
    background: #4EC5F7;
}
.home-btn {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}
.home-img {
    width: auto;
    margin-right: 10%;
}
/* online games section style */
.online-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8% 10%;
    gap: 30px;
}
.og-vdo {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.og-img-container img {
    max-width: 342px;
}
.og-img-container figcaption {
    max-width: 342px;
    padding-top: 20px;
}
.og-img-div {
    position: relative;
    /* width: 50%; */
}
.og-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.hover-items {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid red;
    border-radius: 1rem;
}
.og-img-div:hover .og-img {
    opacity: 0.3;
}  
.og-img-div:hover .hover-items {
    opacity: 1;
}
/* play instantly section style */
.play-instantly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8% 10%;
    gap: 30px;
}
.pi-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    max-width: 350px;
    margin: 10%;
}
.pi-content p {
    padding-top: 30px;
}
.pi-img {
    position: relative;
    max-width: 60%;

}
.pi-bottom-img {
    position: relative;
    z-index: 0;
}
.pi-top-img {
    position: absolute;
    z-index: 1;
    bottom: -15%;
    left: -25%;
}



